p {
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
}
img {
  width: 15em;
  height: 10em;
  border: double green 10px;
}
li {
  list-style: lower-greek;
  font-size: 1.25em;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  width: 16em;
  height: 3em;
  font-size: 1em;
  background-color: green;
  color: #f7e0c0;
}
input[type= "text"] {
  width: 20em;
  height: 3em;
  font-size: 1em;
}
